#allyPortrait {
    margin-left: 240px;
    margin-right: 120px;
    width: 275px;
    height: 275px;
    min-width: 275px;
    padding-right: 120px;
    border-right: 2px solid black;
}

.firstRow {
    margin-top: 75px;
}

#img {
    position: relative;
}

#text {
    width: 400px;
    height: 275px;
    margin-right: 100px;
    position: absolute;

}