.ngview > div, .ngview > span {
  padding-top:40px;
  padding-left:40px;
}

@font-face {
  font-family: 'CircularStd Bold';
  src: url('../fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
}

#controlPanel {
  background: #FFD3AC;
  width:30%;
}
#controlPanel > md-input-container {
  width: 200px;
}

h3 {
  font-family: 'CircularStd-Bold';
}

md-content {
}

.artistImg {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: -10px;
}

.tileImg {
  border-radius: 50%;
  border: 2px solid black;
  max-width:160px;
  min-width:160px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
  top: -300px;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}

.animate-repeat.ng-enter-prepare {
  opacity: 0;
}

.md-button {
  bottom:90px;
  right: 40px;
}

.md-input {
  padding-right : 2px!important;
