.ngview > div, .ngview > span {
  text-align:center;
}

#jukebox {
  margin-top: 20px;
}

.mdcontent {
  margin: 10px;
  padding: 10px;
  background: transparent;
}

.md-track-container {
  height: 5px;
}
