body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e62284+0,e3af65+100 */
}

.ngview, md-content {
  background:#FFC591
}
#headerDiv {
  color:white;
  text-align: center;
  height: 300px;
  border-bottom: 2px solid;
  border-color: #9E7A5A;
  background: #e62284; /* Old browsers */
  background: -moz-linear-gradient(top,  #e62284 0%, #e3af65 93%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e62284 0%,#e3af65 93%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e62284 0%,#e3af65 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62284', endColorstr='#e3af65',GradientType=0 ); /* IE6-9 */

}

#headerImage {
  max-width: 200px;
  margin: 0 auto;
  border-radius: 0!important;
}

#changeRow {
  text-align: center;
}

.changeRowElem {
    width: 200px;
    display: inline-block;
    font-family: Arvo;
    letter-spacing: 1px;
    min-width: 200px;
}
