body {
  background-color: #f7d0cb;
}

#headerDiv {
  text-align: center;
}

#headerImage {
  max-width: 200px;
  margin: 0 auto;
  border-radius: 0!important;
}

#changeRow {
  text-align: center;
}

.changeRowElem {
    width: 200px;
    display: inline-block;
    font-family: Arvo;
    letter-spacing: 1px;
    min-width: 200px;
}
