<link rel="stylesheet" type="text/css" href="./css/home.css">
<div>
  {{homeVm.message}}
</div>
<div>
  <span>{{artistSearch}}</span>
  <input type="text" ng-model="artistSearch" placeholder="type artist to search" 
					     uib-typeahead="artist for artist in homeVm.search($viewValue) |  limitTo:6" typeahead-focus-first="true">
</div>
<div>
  <md-content width="20%" layout="column" layout-padding class="mdcontent">
    <h5 style="margin:10px;">{{attr.name}}</h5>
    <md-slider-container flex ng-repeat="attr in homeVm.attrs">
      <md-slider ng-model="attr.val" class="md-primary" aria-label="lmao" md-range flex min="0" max = "100"></md-slider>
      <span>{{attr.val}}</span>
    </md-slider-container>
  </md-content>
</div>
<!--<ul>
  <li ng-repeat="artist in homeVm.results">
  lol
  {{artist}}
  </li>
  </ul> -->
  </div>

