<link rel="stylesheet" type="text/css" href="./css/home.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
      rel="stylesheet">
      <!--<pre>{{homeVm.finalj | json}}</pre>-->
<script type="text/ng-template" id="dropTemplate.html">
<a>
<img class="artistImg" ng-src={{match.model.img}}>
  <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
</a>
</script>
<div>
  <md-content id="controlPanel" layout-gt-sm="column" layout-padding>
    <h3>Control Panel</h3>
    <md-input-container class="md-block">
      <label class="searches">Song Name</label>
      <input type="text" ng-model="homeVm.artistSearch" typeahead-template-url="dropTemplate.html" uib-typeahead="artist as artist.name for artist in homeVm.search($viewValue)" typeahead-focus-first="true" typeahead-on-select="homeVm.onSelect($item,$model,$label)">
    </md-input-container>
    <md-input-container class="md-block">
      <label class="searches">Artist Name</label>
      <input type="text">
    </md-input-container>
    <md-input-container class="md-block">
      <label class="searches">Genre</label>
      <input type="text">
    </md-input-container>
    <md-content layout="row" layout-padding>
    <md-slider-container flex  ng-repeat="attr in homeVm.attrs" ng-if="$odd">
      <md-slider ng-disabled="homeVm.isDisabled" md-vertical ng-model="attr.val" class="md-primary" aria-label="lmao" md-range min="0" max = "100">
      </md-slider>
      <span ng-click="homeVm.isDisabled = !homeVm.isDisabled">{{attr.name}}</span>
    </md-slider-container>
    </md-content>
    <md-content layout="row" layout-padding>
    <md-slider-container flex  ng-repeat="attr in homeVm.attrs" ng-if="$even">
      <md-slider ng-disabled="homeVm.isDisabled" md-vertical ng-model="attr.val" class="md-primary" aria-label="lmao" md-range min="0" max = "100">
      </md-slider>
      <span ng-click="homeVm.isDisabled = !homeVm.isDisabled">{{attr.name}}</span>
    </md-slider-container>
    </md-content>
  </md-content>
</div>
<div>
  <iframe width = "45%" height="1000px"; src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX0XUsuxWHRQd" frameborder="0" allowtransparency="true"></iframe>
</div>
<div>
  <md-content md-no-momentum>
    <md-grid-list md-cols="5" md-row-height="200px">
      <md-grid-tile class="animate-repeat" ng-repeat="img in homeVm.imgs track by $index">
	<img class="animate-repeat tileImg" ng-src={{img}}>
	<md-button class="md-icon-button" aria-label="Clear" 
		ng-click="homeVm.imgs.splice($index,1)">
	  <md-icon>clear</md-icon>
	</md-button>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
</div>
<!--<ul>
  <li ng-repeat="artist in homeVm.results">
  lol
  {{artist}}
  </li>
  </ul> -->

