<link rel="stylesheet" type="text/css" href="./css/home.css">
<script type="text/ng-template" id="dropTemplate.html">
<a>
<img class="artistImg" ng-src={{match.model.img}}>
  <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
</a>
</script>
<div>
  <input type="text" ng-model="homeVm.artistSearch" placeholder="type artist to search" typeahead-template-url="dropTemplate.html" uib-typeahead="artist as artist.name for artist in homeVm.search($viewValue)" typeahead-focus-first="true" typeahead-on-select="homeVm.onSelect($item,$model,$label)">
</div>
<div>
  <md-content layout="row" layout-padding md-no-momentum>
    <md-slider-container flex  ng-repeat="attr in homeVm.attrs">
      <md-slider md-vertical ng-model="attr.val" class="md-primary" aria-label="lmao" md-range min="0" max = "100">
      </md-slider>
      <span>{{attr.name}}</span>
      <md-input-container class="md-block">
	<input type="number" step="any" aria-label="lmoo" name="attr.name" ng-model="attr.val"min=0 max=100;/>
      </md-input-container>
    </md-slider-container>
  </md-content>
</div>
<div>
  <md-content md-no-momentum>
    <md-grid-list md-cols="5" md-row-height="200px">
      <md-grid-tile ng-repeat="img in homeVm.imgs">
	<img class="tileImg" ng-src={{img}}>
      </md-grid-tile>
    </md-grid-list>
  </md-content>
</div>
<!--<ul>
  <li ng-repeat="artist in homeVm.results">
  lol
  {{artist}}
  </li>
  </ul> -->

